.git
.github
.venv
**/__pycache__
**/.pytest_cache
**/*.pyc
**/.DS_Store
__MACOSX
.env
**/.env
notebooks
reports
submissions
extensions/forecasting/outputs
data/*.csv
data/*.parquet
data/*.pkl
data/baseline_lgb_model.txt
data/tuned_lgb_model.txt
data/quantile_lgb_p10.txt
data/quantile_lgb_p50.txt
data/quantile_lgb_p90.txt
deploy/logs
deploy/models/*.txt
deploy/models/manifest.json
deploy/tests
deploy/monitoring
